h1 {
    text-align: center;
}

.container {
    text-align: center;
    display: grid;
    padding: 60px;
}

#generate {
    color: white;
    background-color: red;
    border-radius: 15px;
}

body {
    background-color: lightblue;
}

#copy {
    background-color: black;
    color: white;
    border-radius: 15px;
}